[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DEploid.utils"]
	path = DEploid.utils
	url = https://github.com/cran/DEploid.utils
[submodule "filters"]
	path = filters
	url = https://github.com/cran/filters
