[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "random.cdisc.data"]
	path = random.cdisc.data
	url = https://github.com/cran/random.cdisc.data
